# Mac
*DS_Store

# History file
.Rhistory

# Generated figures
figures/*
!figures/.gitkeep
!figures/*/
figures/*/*
!figures/*/.gitkeep

# Generated data
data/*
!data/.gitkeep

# README output
README.html

# Renv 
renv/*

# Rstudio files
.Rproj.user/
.Rprofile

